<!doctype html>
<html ng-app="MyApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
	<title>Bill Share</title>
	<script src="angular-1.0.2.min.js"></script>
	<link rel="stylesheet" href="handheld.css"/>
	<link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="handheld.css" type="text/css" rel="stylesheet" />
	<style>
	table { width: 100%; }
	td { width: 50%; vertical-align: top; }
	textarea { width: 100%; height: 10em; }
	* { padding: 0 !important; margin: 0 !important; }
	</style>
	<script>
		//http://blog.vishalon.net/index.php/javascript-getting-and-setting-caret-position-in-textarea/
		function getCaretPosition(ctrl) {
			var CaretPos = 0;	// IE Support
			if (document.selection) {
			ctrl.focus ();
				var Sel = document.selection.createRange ();
				Sel.moveStart ('character', -ctrl.value.length);
				CaretPos = Sel.text.length;
			}
			// Firefox support
			else if (ctrl.selectionStart || ctrl.selectionStart == '0')
				CaretPos = ctrl.selectionStart;
			return (CaretPos);
		}
		function setCaretPosition(ctrl, pos){
			if(ctrl.setSelectionRange)
			{
				ctrl.focus();
				ctrl.setSelectionRange(pos,pos);
			}
			else if (ctrl.createTextRange) {
				var range = ctrl.createTextRange();
				range.collapse(true);
				range.moveEnd('character', pos);
				range.moveStart('character', pos);
				range.select();
			}
		}
		var is_iOs = /(iPhone|iPod|iPad).*AppleWebKit/i.test(navigator.userAgent)
		var app = angular.module('MyApp', [])
		AppController.$inject = ['$scope', '$timeout']
		function AppController(scope, $timeout) {
			function Person(name) {
				this.name = name
				var total = 0
				this.getTotal = function() {
					var t = total
					if (name != '_tip_') {
						if (name != '_shared_') {
							t += scope.shared.getTotal() / scope.persons.length
						}
						if (scope.service_charge) {
							t *= 1.0 + scope.service_charge_percent / 100.0
						}
						if (scope.gst) {
							t *= 1.0 + scope.gst_percent / 100.0
						}
						if (name != '_shared_') {
							t += scope.tip.getTotal() / scope.persons.length
						}
					}
					return t
				}
				this.add = function(price) {
					total += price
				}
			}
			function normalizeText(text) {
				if (!text) {
					return
				}
				scope.shared = new Person('_shared_', true)
				scope.tip = new Person('_tip_', true)
				scope.persons = []
				var lines = text.split('\n')
				lines.forEach(function(line, index){
					lines[index] = normalizeLine(line)
				})
				return lines.join('\n')
			}
			function normalizeLine(line) {
				var FLIP = {q: 1, w: 2, e: 3, r: 4, t: 5, y: 6, u: 7, i: 8, o: 9, p: 0}
				var words = line.split(/ +/)
				if (scope.smart_numbers) {
					var word = words[0].toLowerCase()
					for (var i = 0; i < word.length; i++) {
						var ch = word[i]
						if (FLIP[ch] !== undefined) {
							word = word.substr(0, i) + FLIP[ch] + word.substr(i + 1)
						}
					}
					words[0] = word
				}
				if (words.length > 1) {
					var person = getOrCreatePerson(words[1])
					var price = parseFloat(words[0])
					if (isFinite(price)) {
						person.add(price)
					}
				}
				return words.join(' ')
			}
			function getOrCreatePerson(name) {
				if (name == 'all' || name == 'shared') {
					return scope.shared
				}
				if (name == 'tip') {
					return scope.tip
				}
				for (var i in scope.persons) {
					var person = scope.persons[i]
					if (person.name == name) {
						return person
					}
				}
				var person = new Person(name)
				scope.persons.push(person)
				return person
			}
			scope.getTotal = function() {
				var sum = 0
				scope.persons.forEach(function(person) {
					sum += person.getTotal()
				})
				return sum
			}
			var ta = document.getElementsByTagName('textarea')[0]
			ta.onkeyup = function(){
				$timeout(function(){
					var value = normalizeText(ta.value)
					if (value != ta.value) {
						pos = getCaretPosition(ta)
						ta.value = value
						setCaretPosition(ta, pos)
					}
				}, 50)
			}
			scope.service_charge = true
			scope.service_charge_percent = 10
			scope.gst = true
			scope.gst_percent = 7
			scope.smart_numbers = true
			scope.text = '15 tom\n10 andras\n3.5 tom\n2 andras\n12 all\n0.48 tip'
			scope.persons = []
		}
	</script>
</head>
<body ng-controller="AppController">
	Enter the bill details below. One item per line, first word is the amount, second word is the person's name. "all", "shared" and "tip" will be shared equally between everybody.<button ng-click="text=''">Clear</button><br>
	<table>
		<tr>
			<td>
				<textarea ng-model="text"></textarea>
			</td>
			<td>
				<div ng-repeat="person in persons">
					{{person.name}}: {{person.getTotal() | currency}}
				</div>
				<div>Total: {{getTotal() | currency}}</div>
			</td>
		</tr>
	</table>
	<input type="checkbox" ng-model="service_charge"> plus service charge
	<input ng-model="service_charge_percent" size="2">%
	<br>
	<input type="checkbox" ng-model="gst"> plus GST
	<input ng-model="gst_percent" size="2">%
	<br>
	<input type="checkbox" ng-model="smart_numbers"> smart recognize numbers
	<br>
</body>
</html>
